<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Coospo Ios</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>coospo_ios</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Need Bluetooth access to scan and connect to devices</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Need Bluetooth access to scan and connect to devices</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location to show GPS signal strength</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to location to show GPS signal strength</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>location</string>
		<string>audio</string>
	</array>

	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>L'app necessita dell'accesso Bluetooth per mantenere la connessione con i dispositivi Coospo anche in background</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Questa app usa il GPS per mostrare la qualità del segnale</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>L'app necessita dell'accesso Bluetooth per comunicare con i sensori cardiaci Coospo</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>L'app utilizza la posizione per mostrare la tua mappa in tempo reale.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>L'app utilizza la posizione per mostrare la tua mappa in tempo reale.</string>

</dict>
</plist>
